.banner {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  height: 26vmax;
  justify-content: flex-end;
  background-size: cover;
  padding-bottom: 1em;
  margin: 1em 1em 0;
}

.page-subtitle {
  background-color: var(--color-1);
  display: inline-block;
  padding: 2px 5px;
  color: #fff;
  font-family: var(--bold);
  margin: 0 0 1em;
}
.page-title {
  margin: 0;
  background: #fff;
  display: inline-block;
  color: var(--color-1);
  padding: 5px;
}
.content{
  width: 100%;
  max-width: var(--width);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding:0;
}
