@font-face {font-family: "MontserratBold"; src: url("/assets/fonts/Montserrat-Bold.ttf");}
@font-face {font-family: "MontserratLight"; src: url("/assets/fonts/Montserrat-Light.ttf");}
@font-face {font-family: "MontserratRegular"; src: url("/assets/fonts/Montserrat-Regular.ttf");}
@font-face {font-family: "MontserratItalic"; src: url("/assets/fonts/Montserrat-Italic.ttf");}

:root{
  --color-1: #FF6060;
  --width: 1160px;

  --bold: 'MontserratBold', sans-serif;
  --regular: 'MontserratRegular', sans-serif;
  --italic: 'MontserratItalic', sans-serif;
  --light: 'MontserratLight', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--regular);
}
body.open-modal{overflow: hidden;}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header:not(.adminer) > .wrapper,
.modal-menu .wrapper,
main > section,
footer > .wrapper,
main > .adminer-content{
  width: 100%;
  max-width: var(--width);
  margin-left: auto;
  margin-right: auto;
}

#__next{
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: min-content auto min-content;
  grid-auto-columns: 100%;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
}

header > .wrapper,
header .links-content,
nav > ul{
  display: flex;
  flex-direction: row;
}
header > .wrapper {
  padding: 1em;
}
header:not(.adminer) > .wrapper{
  background-color: #fff;
}
header > .wrapper,
header .links-content{
  justify-content: space-between;
}

header .links-content > *:not(nav){
  font-family: var(--bold);
  color: var(--color-1);
  margin-right: 2em;
  line-height: 30px;
}
button.modal-btn {
  border: none;
  background: none;
  outline: none;
  width: 43px;
  height: 30px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 1;
}
.close-button-menu {display: flex;justify-content: flex-end;}
button.modal-btn span {
  transition: all .2s ease-out;
  display: block;
  border: 1px solid var(--color-1);
  width: 100%;
}
button.modal-btn span:nth-child(2){width: 75%;}
button.modal-btn span:nth-child(3){ width: 50%;}

button.modal-btn.close-btn {justify-content: center;z-index: 101;}
button.modal-btn.close-btn span{width: 68%; position: absolute; transform-origin: center;}
button.modal-btn.close-btn span:nth-child(1){transform: rotate(45deg);}
button.modal-btn.close-btn span:nth-child(2){display: none;}
button.modal-btn.close-btn span:nth-child(3){transform: rotate(-45deg);}
nav > ul,
.wrapper > .field > ul{padding: 0;margin: 0;list-style: none;}

.modal > .content {
  position: absolute;
  background: #f6f6f6;
  top: -1em;
  height: 100vh;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 1em;
}

header .menu {
  list-style: none;
  padding: 0;
}
header .modal-menu .wrapper {
  padding: 1em;
  margin-top: 200px;
  max-width: 768px;
}
header .menu li{
  font-size: 1.5em;
  cursor: pointer;
}
header .menu li.active{font-family: var(--bold);}
header .menu li:hover{color: var(--color-1)}
header #logotipo {z-index: 101;}
header .modal-menu .wrapper {display: grid;}
header .field-menu {grid-area: 1/1/1/1;}
header .field-submenu {grid-area: 1/2/1/2;}
header .field-sharelink{grid-area: 2/1/2/3; border-top: 1px solid #dadada;}
header .field-sharelink {margin-top: 1em; padding: 2em 1em 1em}

header.fixed{
  position: absolute;
  top: .9em;
  left: 0;
  width: 100%;
  z-index: 200;
}
header.fixed ~ footer {
  max-height: 50px;
  margin-top: auto;
  background-color: var(--color-1);
  color: #fff;
}
/*Adminer*/

header.adminer {
  box-shadow: 1px 0 9px rgb(37, 37, 37);
  margin: -1em -1em 0;
  background-color: rgb(37, 37, 37);
}
header.adminer ~ footer{
  margin: 0 -1em;
  background-color: rgb(37, 37, 37);
}
header.adminer .links-content{
  align-items: center;
}

header.adminer .links-content  > *{
  margin: 0;
}
header.adminer .links-content  > a{
  margin-left: 2em;
}

.signout {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  display: flex;
  padding: 2px 0 0;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
}

.signout i{
  display: inline;
  width: 100%;
  height: 100%;
  background-image: url(/assets/icons/off.svg);
  background-size: 40px 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.signout:hover i{ background-image: url(/assets/icons/off-hover.svg);}

.auth {
  max-width: var(--width);
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.auth > .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  flex-direction: column;
}

input:-internal-autofill-selected {
  background-color: brown!important;
  color: rgb(37, 37, 37)!important;
}
.adminer-content {
  display: grid;
  grid-template-columns: 250px auto;
  padding: 1em 0;
  height: 100%;
}
.adminer-content aside {
  height: 100%;
  border-right: 1px solid rgb(213 213 213);
}
.adminer-content section{
  padding: 1em;
}


/*DASHBOARD*/

#my-admin{
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: min-content auto min-content;
  min-height: 100vh;
}

#my-admin > main{
  display: grid;
  grid-template-columns: 300px auto;
}